$main-red: #e50914;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #000;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
button,
input,
textarea {
  font-family: inherit;
  color: inherit;
}
ul,
li {
  list-style: none;
}
img {
  max-width: 100%;
}

.container {
  width: 140rem;
  max-width: 90vw;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.button {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 0.4em 1em;
  color: #fff;
  background-color: $main-red;
  border-radius: 0.25em;
  border: 0;

  &--form {
    border-radius: 0 0.1em 0.1em 0;
    display: flex;
    align-items: center;
    font-size: 3rem;
    line-height: 1;
    padding: 0.6em;
    .text {
      flex: 3;
      padding: 0 0.25em;
    }
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        height: 2rem;
      }
    }
  }
}

//===========================================//
.spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  &__loading {
    display: block;
    height: 15rem;
    width: 15rem;
    animation: spin 0.5s ease-in-out infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  &__image {
    display: block;
    height: 5rem;
    width: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
//===========================================//

//===========================================//
.field {
  display: flex;
  position: relative;
  &__input {
    flex: 1;
    padding: 1.5em 0.75rem 1.25em;
    font-size: 1.8rem;
  }
  &__label {
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    left: 0.4em;
    transform: translateY(-50%);
    color: #999;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.05s, top 0.25s, left 0.25s, transform 0.25s,
      font-size 0.25s, color 0.25s;
  }
  &__input:focus + &__label,
  &__input:not([value='']) + &__label {
    color: #666;
    font-size: 1.4rem;
    opacity: 1;
    top: 0.5em;
    left: 0.5em;
    transform: translateY(0);
  }
}
//===========================================//

.header__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
.header .header__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

//===========================================//
.header {
  position: relative;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  &__content {
    width: 140rem;
    max-width: 90vw;
    margin: 0 auto;
  }

  &__overlay {
    background-image: linear-gradient(
      to top,
      rgba(#000, 0.85),
      rgba(#000, 0.25),
      rgba(#000, 0.85)
    );
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  &__backgroundImageContainer {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__top {
    width: 140rem;
    max-width: 90vw;
    margin: 0 auto;
    padding: 1.75em 0;
    display: flex;
    justify-content: space-between;
  }
  &__logoContainer {
    width: 16rem;
    max-width: 33vw;
  }
}
//===========================================//

//===========================================//
.first-screen {
  flex: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  &__title {
    line-height: 1.1;
    font-size: 7rem;
    max-width: 80rem;
    margin: 0 auto;
  }

  &__subtitle {
    margin-top: 0.5em;
    font-size: 2.8rem;
  }
}
//===========================================//

//===========================================//
.CTA {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__text {
    margin-top: 1.5em;
    font-size: 2rem;
    font-weight: bold;
  }

  &__form {
    margin-top: 1em;
    color: #333;
    display: flex;
    border-radius: 0.25em;
    overflow: hidden;

    @media screen and (max-width: 37em) {
      flex-wrap: wrap;
      justify-content: center;

      button {
        margin-top: 1em;
      }
    }

    div {
      width: 50rem;
      max-width: 100%;
    }
  }
}
//===========================================//

//===========================================//
.jumbotron {
  color: #fff;
  border-top: 1rem solid #222;
  border-bottom: 1rem solid #222;
  @media screen and (max-width: 60em) {
    &__itemContainer:nth-of-type(3) {
      .jumbotron__content {
        margin-bottom: 2rem !important;
      }
    }
    &__itemContainer:nth-of-type(4) {
      .jumbotron__content {
        margin-bottom: 2rem !important;
      }
    }
  }

  &__itemContainer:nth-of-type(odd) {
    .jumbotron__content {
      order: 0;
      margin: 0 2em;
    }
    .jumbotron__media {
      order: 1;

      margin: 0;
    }
  }
  &__itemContainer:nth-of-type(even) {
    .jumbotron__content {
      order: 1;

      margin: 0;
    }
    .jumbotron__media {
      order: 0;

      margin: 0 2em;
    }
  }

  &__itemContainer:not(:last-child) {
    border-bottom: 1rem solid #222;
  }
  &__itemContainer {
    padding: 2em 0;
  }
  &__content {
    max-width: 30em;
  }
  &__title {
    line-height: 1;
    font-size: 2.7em;
    padding: 0 0 1em;
  }
  &__text {
    font-size: 1.3em;
  }

  &__video {
    position: absolute;
    top: 50%;
    left: 50%;

    &--1 {
      width: 73%;
      transform: translate(-51%, -54%);
    }
    &--3 {
      width: 65%;
      transform: translate(-50%, -85%);
    }
  }
  &__media {
    position: relative;
    width: 55rem;
    flex-basis: 55rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__imageVideo {
    position: relative;
    z-index: 1;
  }
}

.jumbotronContainer {
  width: 114rem;
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 78.625em) {
    font-size: 1.4rem;
  }
  @media screen and (max-width: 60em) {
    flex-wrap: wrap;
    text-align: center;

    .jumbotron__content {
      flex-basis: 100% !important;
      max-width: 60rem;
      width: max-content;
    }

    .jumbotron__media {
      order: 10 !important;
      width: 40rem;
      flex-basis: 40rem;
    }
    .jumbotron__image {
      max-height: 30rem;
    }
  }
  @media screen and (max-width: 60em) {
    font-size: 1.2rem;
  }
}
//===========================================//

//===========================================//
.accordion {
  &__container {
    width: 80rem;
    max-width: 90vw;
    margin: 0 auto;
  }
  border-bottom: 1rem solid #222;
  padding: 5em 0;
  color: #fff;

  &__title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 1em;
  }

  &__item {
    margin-bottom: 1rem;

    &--open {
      .accordion__answer {
        padding: 0.75em 1em;
        max-height: max-content;
      }
      .accordion__question {
        .icon {
          transform: rotate(0);
        }
      }
    }
  }

  &__question {
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: 0;
    background-color: #333;
    padding: 0.75em 1em;
    font-size: 1.8em;
    font-weight: normal;
    border-bottom: 0.2rem solid #000;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon {
      svg {
        height: 2rem;
        width: 2rem;
      }
      transform: rotate(45deg);
      fill: #fff;
      transition: transform 0.15s;
    }
  }

  &__answer {
    max-height: 0px;
    padding: 0 1em;
    overflow: hidden;
    background-color: #333;
    font-size: 1.8em;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  }
}
//===========================================//

//===========================================//
.footer {
  color: #666;
  font-size: 1.4rem;
  padding: 3em 0;
  background-color: rgba(#000, 0.75);
  &__title {
    font-weight: normal;
    display: flex;
    align-items: center;

    .footer__link {
      padding-left: 0.5em;
    }
  }
  &__container {
    width: 90rem;
    max-width: 90vw;
    margin: 0 auto;
  }

  &__linksContainer {
    padding: 2em 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__link {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 0.5em 0;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
//===========================================//

//===========================================//
.form {
  max-width: 45rem;
  margin: 2em auto 3em;
  border-radius: 0.5rem;
  background-color: rgba(#000, 0.75);
  padding: 4em 4em 6em;

  &__warning {
    padding: 0 1em;
    color: orange;
    font-weight: bold;
    border: 0.1rem solid transparent;
    border-radius: 0.25em;
    height: 0;

    transition: all 0.2s;
    &--open {
      border: 0.1rem solid orange;
      padding: 1em;
      margin: 1em 0;
      height: max-content;
    }
  }

  &__link {
    text-decoration: none;
    display: inline-block;
    &--white {
      display: inline-block;
      padding: 0 0.5em;
      color: #fff;
    }
    &--blue {
      color: royalblue;
    }
  }

  &__text {
    color: #666;
    font-size: 1.6rem;

    span {
      display: block;
    }

    &--small {
      font-size: 1.2rem;
    }
  }

  &__title {
    color: #fff;
    font-size: 2em;
  }
  & > *:not(:last-child) {
    margin-bottom: 1em;
  }

  input::placeholder {
    color: #999;
  }

  input {
    background-color: rgba(#333, 1);
    padding: 1.25em 1em 1em;
    border: 0;
    font-size: 1.5rem;
    border-radius: 0.5em;
    color: #fff;

    border-bottom: 0.2em solid #333;
  }
  input:focus + label,
  input:not([value='']) + label {
    color: #888 !important;
    font-size: 1.2rem !important;
    opacity: 1;
    top: 0.3em !important;
    left: 1em !important;
    transform: translateY(0);
  }

  &__form {
    display: flex;
    flex-direction: column;
    & > *:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  &__button {
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 0.75em;
    font-size: 1.6rem;
    font-weight: bold;
  }
}
//===========================================//

//===========================================//
.watcherChoosing {
  &__title {
    color: #fff;
    text-align: center;
    font-size: 3em;
  }
  &__usersContainer {
    margin-top: 3em;
    display: flex;
    justify-content: center;
  }

  &__user {
    cursor: pointer;
    &:hover,
    &:focus {
      img {
        border: 0.3rem solid #fff;
      }
    }
    background-color: transparent;
    border: 0;
    color: #999;
    font-weight: bold;
    max-width: 15rem;

    img {
      border: 0.3rem solid transparent;
      transition: border 0.1s;
    }

    div {
      white-space: nowrap;
    }
  }
}
//===========================================//

//===========================================//
.mainHeaderContent {
  margin-top: -20rem;
  color: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > * {
    margin-bottom: 3rem;
    width: 60rem;
    max-width: 90vw;
  }

  &__text {
    text-shadow: 0.1em 0.1em 0.1em rgba(#000, 0.75);
  }
  &__button {
    cursor: pointer;
    color: #333;
    padding: 0.5em 2em;
    font-weight: bold;
    max-width: max-content;
    transition: all 0.2s;
    border: 0;
    border-radius: 0.2em;

    &:hover {
      background-color: $main-red;
      color: #fff;
    }
  }

  &__title {
    font-size: 3em;
  }
}
//===========================================//
